/* - 栅格系统 */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.25em;
    margin-right: -1.25em;
}

.row.thin{
    margin-left: -1em;
    margin-right: -1em;
}

.row.full{
    margin-left: 0;
    margin-right: 0;
}

.row.scrollable{
    overflow: auto;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: nowrap;
}

/* -- 对齐方式 */
.row.right{ justify-content: flex-end; }
.row.center{ justify-content: center; }
.row.around{ justify-content: space-around; }
.row.between{ justify-content: space-between; }

/* -- 网格间距 */
.row [class*="col-"]{
    position: relative;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.row.thin [class*="col-"]{
    padding-left: 1em;
    padding-right: 1em;
}

.row.full [class*="col-"]{
    padding: 0;
    margin-bottom: 0;
}

/* -- 网格主体 */
.row [class*="col-s-"],
.row [class*="col-m-"],
.row [class*="col-l-"]{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2em;
}

.row [class*="col-s-"]:last-child, .row [class*="col-m-"]:last-child, .row [class*="col-l-"]:last-child{
    margin-bottom: 0;
}

@media screen and (min-width: 600px){
    .row [class*="col-s-"]{
        margin-bottom: 0;
    }
}

@media screen and (min-width: 900px){
    .row [class*="col-m-"]{
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px){
    .row [class*="col-l-"]{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px){
    .row [class*="wrap-s"]{
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 900px){
    .row [class*="wrap-m"]{
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 1024px){
    .row [class*="wrap-l"]{
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 600px){
    .col-s-left-1{ right: 8.3333%; }
    .col-s-left-2{ right: 16.6666%; }
    .col-s-left-3{ right: 25%; }
    .col-s-left-4{ right: 33.3333%; }
    .col-s-left-5{ right: 41.6666%; }
    .col-s-left-6{ right: 50%; }
    .col-s-left-7{ right: 58.3333%; }
    .col-s-left-8{ right: 66.6666%; }
    .col-s-left-9{ right: 75%; }
    .col-s-left-10{ right: 83.3333%; }
    .col-s-left-11{ right: 91.6666%; }
    .col-s-left-12{ right: 100%; }

    .col-s-right-1{ left: 8.3333%; }
    .col-s-right-2{ left: 16.6666%; }
    .col-s-right-3{ left: 25%; }
    .col-s-right-4{ left: 33.3333%; }
    .col-s-right-5{ left: 41.6666%; }
    .col-s-right-6{ left: 50%; }
    .col-s-right-7{ left: 58.3333%; }
    .col-s-right-8{ left: 66.6666%; }
    .col-s-right-9{ left: 75%; }
    .col-s-right-10{ left: 83.3333%; }
    .col-s-right-11{ left: 91.6666%; }
    .col-s-right-12{ left: 100%; }
}

@media screen and (min-width: 900px){
    .col-m-left-1{ right: 8.3333%; }
    .col-m-left-2{ right: 16.6666%; }
    .col-m-left-3{ right: 25%; }
    .col-m-left-4{ right: 33.3333%; }
    .col-m-left-5{ right: 41.6666%; }
    .col-m-left-6{ right: 50%; }
    .col-m-left-7{ right: 58.3333%; }
    .col-m-left-8{ right: 66.6666%; }
    .col-m-left-9{ right: 75%; }
    .col-m-left-10{ right: 83.3333%; }
    .col-m-left-11{ right: 91.6666%; }
    .col-m-left-12{ right: 100%; }

    .col-m-right-1{ left: 8.3333%; }
    .col-m-right-2{ left: 16.6666%; }
    .col-m-right-3{ left: 25%; }
    .col-m-right-4{ left: 33.3333%; }
    .col-m-right-5{ left: 41.6666%; }
    .col-m-right-6{ left: 50%; }
    .col-m-right-7{ left: 58.3333%; }
    .col-m-right-8{ left: 66.6666%; }
    .col-m-right-9{ left: 75%; }
    .col-m-right-10{ left: 83.3333%; }
    .col-m-right-11{ left: 91.6666%; }
    .col-m-right-12{ left: 100%; }
}

@media screen and (min-width: 900px){
    .col-l-left-1{ right: 8.3333%; }
    .col-l-left-2{ right: 16.6666%; }
    .col-l-left-3{ right: 25%; }
    .col-l-left-4{ right: 33.3333%; }
    .col-l-left-5{ right: 41.6666%; }
    .col-l-left-6{ right: 50%; }
    .col-l-left-7{ right: 58.3333%; }
    .col-l-left-8{ right: 66.6666%; }
    .col-l-left-9{ right: 75%; }
    .col-l-left-10{ right: 83.3333%; }
    .col-l-left-11{ right: 91.6666%; }
    .col-l-left-12{ right: 100%; }

    .col-l-right-1{ left: 8.3333%; }
    .col-l-right-2{ left: 16.6666%; }
    .col-l-right-3{ left: 25%; }
    .col-l-right-4{ left: 33.3333%; }
    .col-l-right-5{ left: 41.6666%; }
    .col-l-right-6{ left: 50%; }
    .col-l-right-7{ left: 58.3333%; }
    .col-l-right-8{ left: 66.6666%; }
    .col-l-right-9{ left: 75%; }
    .col-l-right-10{ left: 83.3333%; }
    .col-l-right-11{ left: 91.6666%; }
    .col-l-right-12{ left: 100%; }
}

/* --- 固定的 */
.row .col-1{
    -ms-flex: 0 0 8.3333%;
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
}

.row .col-2{
    -ms-flex: 0 0 16.6666%;
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
}

.row .col-3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.row .col-4{
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.row .col-5{
    -ms-flex: 0 0 41.3333%;
    flex: 0 0 41.6666%;
    max-width: 41.6666%;
}

.row .col-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.row .col-7{
    -ms-flex: 0 0 58.3333%;
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}

.row .col-8{
    -ms-flex: 0 0 66.6666%;
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
}

.row .col-9{
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.row .col-10{
    -ms-flex: 0 0 83.3333%;
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}

.row .col-11{
    -ms-flex: 0 0 91.6666%;
    flex: 0 0 91.6666%;
    max-width: 91.6666%;
}

.row .col-12{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/* --- 手机 */
@media screen and (min-width: 600px){
    .row .col-s-1{
        -ms-flex: 0 0 8.3333%;
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }

    .row .col-s-2{
        -ms-flex: 0 0 16.6666%;
        flex: 0 0 16.6666%;
        max-width: 16.6666%;
    }

    .row .col-s-3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row .col-s-4{
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .row .col-s-5{
        -ms-flex: 0 0 41.3333%;
        flex: 0 0 41.6666%;
        max-width: 41.6666%;
    }

    .row .col-s-6{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row .col-s-7{
        -ms-flex: 0 0 58.3333%;
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }

    .row .col-s-8{
        -ms-flex: 0 0 66.6666%;
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }

    .row .col-s-9{
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .row .col-s-10{
        -ms-flex: 0 0 83.3333%;
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }

    .row .col-s-11{
        -ms-flex: 0 0 91.6666%;
        flex: 0 0 91.6666%;
        max-width: 91.6666%;
    }

    .row .col-s-12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* --- 平板 */
@media screen and (min-width: 900px){
    .row .col-m-1{
        -ms-flex: 0 0 8.3333%;
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }

    .row .col-m-2{
        -ms-flex: 0 0 16.6666%;
        flex: 0 0 16.6666%;
        max-width: 16.6666%;
    }

    .row .col-m-3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row .col-m-4{
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .row .col-m-5{
        -ms-flex: 0 0 41.3333%;
        flex: 0 0 41.6666%;
        max-width: 41.6666%;
    }

    .row .col-m-6{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row .col-m-7{
        -ms-flex: 0 0 58.3333%;
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }

    .row .col-m-8{
        -ms-flex: 0 0 66.6666%;
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }

    .row .col-m-9{
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .row .col-m-10{
        -ms-flex: 0 0 83.3333%;
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }

    .row .col-m-11{
        -ms-flex: 0 0 91.6666%;
        flex: 0 0 91.6666%;
        max-width: 91.6666%;
    }

    .row .col-m-12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* --- 电脑 */
@media screen and (min-width: 1024px){
    .row .col-l-1{
        -ms-flex: 0 0 8.3333%;
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }

    .row .col-l-2{
        -ms-flex: 0 0 16.6666%;
        flex: 0 0 16.6666%;
        max-width: 16.6666%;
    }

    .row .col-l-3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row .col-l-4{
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .row .col-l-5{
        -ms-flex: 0 0 41.3333%;
        flex: 0 0 41.6666%;
        max-width: 41.6666%;
    }

    .row .col-l-6{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row .col-l-7{
        -ms-flex: 0 0 58.3333%;
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }

    .row .col-l-8{
        -ms-flex: 0 0 66.6666%;
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }

    .row .col-l-9{
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .row .col-l-10{
        -ms-flex: 0 0 83.3333%;
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }

    .row .col-l-11{
        -ms-flex: 0 0 91.6666%;
        flex: 0 0 91.6666%;
        max-width: 91.6666%;
    }

    .row .col-l-12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* -- 网格对齐方式 */
.row > .left, .row > .right, .row > .top, .row > .bottom, .row > .center{
    display: flex;
    flex-direction: column;
}

.row > .center{
    align-items: center;
    justify-content: center;
}

.row > .center-fixed{
    text-align: center;
}

.row > .left{
    -webkit-box-align: start;
    align-items: flex-start;
}

.row > .right{
    -webkit-box-align: end;
    align-items: flex-end;
}

.row > .top{
    justify-content: flex-start;
}

.row > .bottom{
    justify-content: flex-end;
}

@media screen and (max-width: 900px){
    .row > .to-center{
        align-items: center !important;
    }
}

/* - 隐藏栅格功能 */
@media screen and (max-width: 600px){
    .row > .hide-s{ display: none; }
}

@media screen and (max-width: 900px){
    .row > .hide-m{ display: none; }
}

@media screen and (max-width: 1024px){
    .row > .hide-l{ display: none; }
}